.background{
    background-color: rgb(238, 220, 223);
    min-height: 100vh;
    height: auto;
}

.light-background{
    background-color: white;
}

.light-border{
    border: 2px solid pink;
    border-radius: 15px;
}

.collection-border{
    border: 2px solid rgb(233, 188, 196);
    border-radius: 15px;
}

div h1{
    font-family: serif;
    color: rgb(180, 20, 20);
    font-weight: bold;
}

div h4{
    font-family: serif;
    color:rgb(180, 20, 20);
    font-weight: bold;
}

.image_file{
    width: 100%;
    margin: 2%;
    border-radius: 30px;
}

.video_file{
    height: 30vh;
    margin: 2%;
    border-radius: 30px;
}

.min-width{
    min-width: 350px;
}

.comments{
    border: 1px solid pink;
    border-radius: 25px;
    max-height: 200px;
    overflow-y: auto;
}