.background{
    background-color: rgb(238, 220, 223);
    min-height: 100vh;
    height: auto;
}

.light-background{
    background-color: white;
}

.light-border{
    border: 2px solid pink;
    border-radius: 15px;
}

div h1{
    font-family: serif;
    color: rgb(189, 69, 69);
    font-weight: bold;
}