{% extends "layout.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-10 light-border light-background p-4">
                <form method="POST" action="/create_post" enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create New Post</legend>

                        <label for="Caption" class="form-label">Caption:</label><br>
                        <textarea type="text" id="Name" name="caption" class="form-control"></textarea><br>

                        <label for="Video_File" class="form-label">Video File:</label><br>
                        <input type="file" id = "Video_File" name="video_file" accept="video/*"><br><br>

                        <label for="Image_File" class="form-label">Image File:</label><br>
                        <input type="file" id = "Image_File" name="image_file" accept="image/*"><br><br>

                        <input type="submit" value="Upload" class = "btn btn-outline-info">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-10 light-border light-background p-4">
                <form method="POST" action="/register">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create New Recipe</legend>
                
                        <input type="submit" value="Create" class = "btn btn-outline-info">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-10 light-border light-background p-4">
                <form method="POST" action="/register">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create New Tag</legend>
                
                        <input type="submit" value="Create" class = "btn btn-outline-info">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}