{% extends "layout.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-10 light-border light-background p-4">
                <form method="POST" action="/create_post" enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create New Post</legend>

                        <label for="Caption" class="form-label">Caption:</label><br>
                        <textarea type="text" id="Name" name="caption" class="form-control"></textarea><br>

                        <label for="Video_File" class="form-label">Video File:</label><br>
                        <input type="file" id = "Video_File" name="video_file" accept="video/*"><br><br>

                        <label for="Image_File" class="form-label">Image File:</label><br>
                        <input type="file" id = "Image_File" name="image_file" accept="image/*"><br><br>

                        <input type="submit" value="Upload" class = "btn btn-outline-info">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-10 light-border light-background p-4">
                <form method="POST" action="/create_recipe" enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create New Recipe</legend>
                        
                        <label for="Recipe_Name" class="form-label">* Recipe Name:</label><br>
                        <input type="text" id="Recipe_Name" name="recipe_name" class="form-control"><br>
                        
                        <label for="Description" class="form-label">Description:</label><br>
                        <textarea type="text" id="Description" name="description" class="form-control"></textarea><br>

                        <label for="Ingredients" class="form-label">* Ingredients (seperate each ingredient by a comma):</label><br>
                        <textarea type="text" id="Ingredients" name="ingredients" class="form-control"></textarea><br>

                        <label for="Directions" class="form-label">* Directions (separate each step by a period):</label><br>
                        <textarea type="text" id="Directions" name="directions" class="form-control"></textarea><br>

                        <label for="Cook_Time" class="form-label">Cook Time (min.):</label><br>
                        <input type="text" id="Cook_Time" name="cook_time" class="form-control"><br>

                        <label for="Image_File" class="form-label">Image File:</label><br>
                        <input type="file" id = "Image_File" name="image_file" accept="image/*"><br><br>

                        <input type="submit" value="Create" class = "btn btn-outline-info">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-10 light-border light-background p-4">
                <form method="POST" action="/make_tag">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Create New Tag</legend>
                            <label for="Tag" class="form-label">* Tag Name:</label><br>
                            <input type="text" id="Tag" name="tag" class="form-control"><br>
                            <input type="submit" value="Create" class = "btn btn-outline-info">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}