{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="text-center pb-2 border-bottom border-3 border-light"> Recent Posts</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            {% for post in posts %}
                <div class="row light-border light-background m-3 p-2 justify-content-center">
                    {% if post.image_url %}
                        <img class="image_file" src="static\images\{{post.image_url}}">
                    {% else %}
                        <video class="video_file" controls>
                            <source src="static\videos\{{post.video_url}}">
                        </video>
                    {% endif %}
                    <div class="d-flex mt-1">
                        {% if post.username != loggedin_user %}
                            <a class="me-3 fw-bold" href="/Profile?username={{post.username}}">{{ post.username }}</a>
                        {% else %}
                            <a class="me-3 fw-bold" href="/Profile">{{ post.username }}</a>
                        {% endif %}
                        <p>{{ post.caption }}</p>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-info btn-block w-100" href="/rate?post_id={{ post.post_id }}&rating=1">Yum {{post.yum}}</a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-danger btn-block w-100" href="/rate?post_id={{ post.post_id }}&rating=-1"><span style="color: black;"> Yuck {{post.yuck}} </span></a>
                    </div>

                    <form method="POST" action="/rate" class="row g-3 align-items-center mt-0">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">

                        <div class="col-auto ">
                            <label for="Comment" class="col-form-label">Add Comment:</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="Comment" name="comment" class="form-control">
                        </div>
                        <div class="col-auto">
                            <input type="submit" value="Add" class="btn btn-outline-info">
                        </div>
                    </form>

                    <div class = "col-11 m-3 p-3 comments ">
                        <h6 class="text-center">Comments</h6>
                        {% if post.comments %}
                            {% set ns = namespace(allNone=true) %}
                            {% for c in post.comments %}
                                {% if c.comment %}
                                    {% set ns.allNone = false %}
                                {% endif %}
                            {% endfor %}

                            {% if not ns.allNone %}
                                {% for c in post.comments %}
                                    {% if c.comment %}
                                        <div class="d-flex mt-1">
                                            <p class="me-3"><strong>{{ c.username }}</strong></p>
                                            <p>{{ c.comment }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p>No comments yet</p>
                            {% endif %}
                        {% else %}
                            <p>No comments yet</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}