{% extends "layout.html" %}
{% block content %}

<div class="container-fluid mt-4">
    <div class = "row justify-content-center">
        <div class="col-7 light-background light-border p-3">
            <h1 class="text-center">{{ users[0].username }}'s Profile</h1>
            <div>
                <p><strong>Name:</strong> {{ users[0].name}}</p>
                {% if users[0].biography != '' %}
                    <p><strong>Biography:</strong> {{ users[0].biography }}</p>
                {% endif %}
                <p><strong>Address:</strong> {{ users[0].address}}</p>
                <p><strong>Date of Birth:</strong> {{ users[0].date_of_birth}}</p>
                <a class="btn btn-outline-info" href="/UpdateProfile">Update Profile</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4 ">
        <div class="col-4 min-width">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 class="text-center pb-2 border-bottom border-3 border-light">Posts</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    {% for post in posts %}
                        <div class="row light-border light-background m-3 p-2 justify-content-center">
                            {% if post.image_url %}
                                <img class="image_file" src="static\images\{{post.image_url}}">
                            {% else %}
                                <video class="video_file" controls>
                                    <source src="static\videos\{{post.video_url}}">
                                </video>
                            {% endif %}
                            <div class="d-flex mt-1">
                                <p class="me-3 fw-bold">{{ post.username }}</p>
                                <p>{{ post.caption }}</p>
                            </div>
                            <a class="btn btn-outline-info" href="/UpdatePost?post_id={{ post.post_id }}">Update Post</a>
                            <a class="btn btn-outline-info mt-2" href="/AddTag?recipe_id=&post_id={{ post.post_id }}">Add Tag</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4 min-width">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 class="text-center pb-2 border-bottom border-3 border-light"> Recipes</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10">
                    {% for recipe in recipes %}
                        <div class="row light-border light-background m-3 p-2 justify-content-center">
                            <div class="col-11">
                                <h1 class = "text-center"> {{ recipe.recipe_name }}</h1>
                                <p class = "text-center">by {{recipe.username }}</p>
                            </div>
        
                            {% if recipe.image_file %}
                                <img class="mt-0 image_file" src="static\images\{{recipe.image_file}}">
                            {% endif %}
        
                            <div class="d-flex mt-1">
                                {% if recipe.description != '' %}
                                    <p><strong>Description:</strong> {{ recipe.description }}</p>
                                {% endif %}
                            </div>
        
                            <div>
                                <p><strong>Cook time:</strong> {{ recipe.cook_time }} minutes</p>
                                <p><strong>Ingredients:</strong> {{ recipe.ingredients}}</p>
                                <p class="fw-bold">Directions:</p>
                                <ol>
                                    {% for direction in recipe.directions.split('.') %}
                                        {% if direction != '' %}
                                            <li>{{ direction + '.' }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                            </div>
                            <a class="btn btn-outline-info" href="/UpdateRecipe?recipe_id={{ recipe.recipe_id }}">Update Recipe</a>
                            <a class="btn btn-outline-info mt-2" href="/AddTag?recipe_id={{ recipe.recipe_id }}&post_id=">Add Tag</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}