{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="text-center pb-2 border-bottom border-3 border-light"> Recipes</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            {% for recipe in recipes %}
                <div class="row light-border light-background m-3 p-2 justify-content-center">
                    <div class="col-11 text-center">
                        <h1> {{ recipe.recipe_name }}</h1>
                        {% if recipe.username == loggedin_user %}
                            <p style="display: inline;">by </p>
                            <a class="me-3 fw-bold" href="/Profile">{{ recipe.username }}</a>
                        {% else %}
                            <p style="display: inline;">by </p>
                            <a class="me-3 fw-bold" href="/Profile?username={{recipe.username}}">{{ recipe.username }}</a>
                        {% endif %}
                    </div>

                    {% if recipe.image_file %}
                        <img class="mt-20 image_file" src="static\images\{{recipe.image_file}}">
                    {% endif %}

                    <div class="d-flex mt-1">
                        {% if recipe.description != '' %}
                            <p><strong>Description:</strong> {{ recipe.description }}</p>
                        {% endif %}
                    </div>

                    <div>
                        <p><strong>Cook time:</strong> {{ recipe.cook_time }} minutes</p>
                        <p><strong>Ingredients:</strong> {{ recipe.ingredients}}</p>
                        <p class="fw-bold">Directions:</p>
                        <ol>
                            {% for direction in recipe.directions.split('.') %}
                                {% if direction != '' %}
                                    <li>{{ direction + '.' }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <div class="text-end">
                            <a class="btn btn-outline-info" href="/add_to_collection?recipe_id={{ recipe.recipe_id }}">Add Recipe To Collection</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}