{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="text-center pb-2 border-bottom border-3 border-light"> Recipes</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            {% for recipe in recipes %}
                <div class="row light-border light-background m-3 p-2 justify-content-center">
                    <div class="col-11">
                        <h1 class = "text-center"> {{ recipe.recipe_name }}</h1>
                        <p class = "text-center">by {{recipe.username }}</p>
                    </div>

                    {% if recipe.image_file %}
                        <img class="mt-0 image_file" src="static\images\{{recipe.image_file}}">
                    {% endif %}

                    <div class="d-flex mt-1">
                        {% if recipe.description != '' %}
                            <p><strong>Decription:</strong> {{ recipe.description }}</p>
                        {% endif %}
                    </div>

                    <div>
                        <p><strong>Cook time:</strong> {{ recipe.cook_time }} minutes</p>
                        <p><strong>Ingredients:</strong> {{ recipe.ingredients}}</p>
                        <p class="fw-bold">Directions:</p>
                        <ol>
                            {% for direction in recipe.directions.split('.') %}
                                {% if direction != '' %}
                                    <li>{{ direction + '.' }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}